.first-div{
    float:left;
    width:40%;
    font-size:30px;
    background-color: aqua;
    border:4px solid black;
    margin:10% 0% 0% 30%;
    text-align: center;
}
.first-div input, .first-div select{
    float:left;
    width:50%;
    text-align: center;
    margin:2% 0% 2% 25%;
    font-size:20px;
}
.first-div button{
    float:left;
    width:50%;
    text-align: center;
    margin:2% 0% 4% 25.5%;
    font-size:20px;
}